* {
  margin: 0px;
  padding: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
}
body {
  background-color: black;
  height: 100vh;
}
.div1,
.div2,
.div3,
.div4 {
  width: 100px;
  height: 100px;
}
.div1 {
  background-color: #f35325;
}
.div2 {
  background-color: #81bc06;
}
.div3 {
  background-color: #05a6f0;
}
.div4 {
  background-color: #ffba08;
}
#cont {
  width: 215px;
  height: 215px;
  flex-wrap: wrap;
  gap: 5px;
  background-color: white;
}
